@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
h1{
    font-family: 'Nabla';
    text-align: center;
    margin-top: 50px;

}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(222,222,222);
    background: linear-gradient(90deg, rgba(222,222,222,0.9318321078431373) 0%, rgba(208,129,186,0.9150253851540616) 100%);
}